@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    174 shady ln 
    Hilham Tn
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:brandon101morgan@outlook.com">My email</a><br />
</address>