@model IEnumerable<RoyalApartments.Models.Apartments>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Apartments for rent</h1>
        <p>This website allows you to sign up and rent your own space out </p>
        <p><a class="btn btn-primary btn-lg" href="http://localhost:50054/apartments" role="button">How? &raquo;</a></p>
    </div>
</div>

<div class="container">


</div>
<h2>Details</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
</table>


<hr>
<hr>
